* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f8f6c3;
    color: rgb(102, 49, 0);
}

#menu-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-family: 'Comfortaa', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    background-color: #023a3b;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    transform: translateY(-5px);
}

.accent {
    background-color: #d6523b;
    color: black;
    border-radius: 30px;
    padding: 8px 25px;
    transition: all 0.3s ease-in;
}

.accent:hover,
input[type="submit"]:hover {
    background-color: #93a5a9;
    color: black;
}

nav li {
    display: inline;
    margin-left: 35px;
}

h1,
h2 {
    font-size: 15rem;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: 400;
}

h2 {
    font-size: 5rem;
    font-style: normal;
}

main {
    padding: 25px;
}

/* ARCHIVES */

.billets {
    margin: auto;
    width: fit-content;
}

.billet {
    background-color: #2f78bd;
    color: #fff;
    padding: 25px 15px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.billet>* {
    margin-bottom: 20px;
}

.billet a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    background-color: #fed681;
    border-radius: 30px;
    padding: 5px 35px;
    transition: all 0.3s ease-in;
}

.billet a:hover {
    text-decoration: underline;
}

/* ARTICLES */
.article h1 {
    font-size: 5rem;
}

.article p {
    font-size: 1.5rem;
}

.article,
.coms {
    max-width: 1200px;
    margin: auto;
}

.article {
    margin-bottom: 150px;
}

.coms div {
    margin: 20px 0;
}

.com {
    display: none;
}

.vue {
    display: block;
}

.coms div p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.coms img {
    width: 50px;
    height: 50px;
    border: #d6523b solid 2px;
    border-radius: 50%;
}

.coms span {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

form {
    background-color: #023a3b;
    color: #fff;
    max-width: 1200px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.3rem;
}

textarea {
    margin: 15px 0;
    width: 90%;
    height: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.1rem;
}

input[type="submit"],
#affiche {
    border: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    padding: 5px 25px;
    border-radius: 25px;
    background-color: #d6523b;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#affiche {
    background-color: #93a5a9;
}

#affiche:hover {
    background-color: #406a74;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.logo {
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 768px) {

    .logo,
    #menu-btn {
        position: relative;
        z-index: 11;
    }

    #menu-btn {
        display: block;
        cursor: pointer;
    }

    .link {
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        height: 0;
        background-color: #023a3b;
        transition: all 1s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        gap: 50px;
    }

    .link.active {
        top: 0;
        height: 100vh;
    }

    .link li:first-child {
        margin-top: auto;
    }

    .link li:last-child {
        margin-bottom: auto;
    }

    .link a {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.5s ease;
    }

    .link.active a {
        opacity: 1;
        transform: translateY(0);
    }

    .link a:active {
        color: #d6523b;
        background: none;
    }

    .accent,
    .accent:hover {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }

    h1 {
        font-size: 5.4rem;
    }

    h2 {
        font-size: 3rem;
    }

    .article h1 {
        font-size: 3.5rem;
        font-style: normal;
    }

    .article p {
        font-size: 1.3rem;
    }

}