* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f8f6c3;
    color: rgb(102, 49, 0);
}

#menu-btn{
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-family: 'Comfortaa', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 10px;
    background-color: #023a3b;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    transform: translateY(-5px);
}

.accent {
    background-color: #d6523b;
    color: black;
    font-weight: 600;
    border-radius: 30px;
    padding: 8px 25px;
    transition: all 0.3s ease-in;
}

.accent:hover {
    background-color: #93a5a9;
    color: black;
}

nav li {
    display: inline;
    margin-left: 35px;
}

.logo {
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    margin-top: 50px;
}

main {
    min-height: 85vh;
    padding: 20px;
}

h1,
h2 {
    font-family: 'Instrument Serif', serif;
    font-size: 7.5rem;
    font-weight: 400;
}

p {
    font-size: 2rem;
}

.infos {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid #d6523b;
}

.admin {
    background-color: #93a5a9;
    padding: 25px;
    border-radius: 20px;
    max-width: 950px;
    margin: auto;
}

.admin a {
    font-size: 1.3rem;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    background-color: #d6523b;
}

@media screen and (max-width: 768px) {

    .logo,
    #menu-btn {
        position: relative;
        z-index: 11;
    }

    #menu-btn {
        display: block;
        cursor: pointer;
    }

    .link {
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        height: 0;
        background-color: #023a3b;
        transition: all 1s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        gap: 50px;
    }

    .link.active {
        top: 0;
        height: 100vh;
    }

    .link li:first-child {
        margin-top: auto;
    }

    .link li:last-child {
        margin-bottom: auto;
    }

    .link a {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.5s ease;
    }

    .link.active a {
        opacity: 1;
        transform: translateY(0);
    }

    .link a:active {
        color: #d6523b;
        background: none;
    }

    .accent,
    .accent:hover {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }

    h1 {
        font-size: 4.5rem;
    }

    img {
        width: 250px;
        height: 250px;
    }

    .admin {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}