* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f8f6c3;
    color: rgb(102, 49, 0);
}

#menu-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-family: 'Comfortaa', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 10px;
    background-color: #023a3b;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    transform: translateY(-5px);
}

.accent {
    background-color: #d6523b;
    color: black;
    border-radius: 30px;
    padding: 8px 25px;
    transition: all 0.3s ease-in;
}

.accent:hover {
    background-color: #93a5a9;
}

nav li {
    display: inline;
    margin-left: 35px;
}

section {
    min-height: 90vh;
    padding: 10px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
    margin-bottom: 150px;
}

h1,
h2 {
    font-size: 15rem;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: 400;
}

h2 {
    font-size: 5rem;
    font-style: normal;
}

h1,
.img,
.hero h2,
.hero a {
    grid-column: 1 /3;
}

.hero p {
    font-size: 1.3rem;
    max-width: 550px;
}

.hero a {
    font-size: 1.4rem;
    background-color: #fed681;
    padding: 5px 25px;
    margin: 35px;
    border-radius: 25px;
    text-decoration: none;
    color: #023a3b;
}

#img1 {
    width: 350px;
    height: 350px;
    object-fit: cover;
    clip-path: path("M 38.1 0 C 113.5 0 174.7 61.2 174.7 136.7 C 174.7 61.2 235.2 0 311.2 0 L 350 0 L 350 213.4 C 350 288.5 288.5 350 213.4 350 L 136.7 350 C 61.2 350 0 288.5 0 213.4 L 0 0 Z");
}

#img2 {
    width: 350px;
    height: 350px;
    object-fit: cover;
    clip-path: path("M 174.8 0 C 201.9 0 224.5 19.4 228.6 45 C 250.6 30.2 279.6 32.2 298.7 51.3 C 317.8 70.3 319.5 99.0 304.2 120.6 C 330.4 126.3 350 147.7 350 174.8 C 350 201.9 330.4 224.5 304.2 228.6 C 319.5 250.6 317.8 279.6 298.7 298.7 C 279.6 317.8 250.6 319.5 228.6 304.2 C 224.5 330.4 201.9 350 174.8 350 C 147.7 350 124.3 330.4 120.6 304.2 C 99.0 319.5 70.3 317.8 51.3 298.7 C 32.2 279.6 30.2 250.6 45 228.6 C 19.4 224.5 0 201.9 0 174.8 C 0 147.7 19.4 124.3 45 120.6 C 30.2 99.0 32.2 70.3 51.3 51.3 C 70.3 32.2 99.0 30.2 120.6 45 C 124.3 19.4 147.7 0 174.8 0 Z");
}

#img3 {
    width: 350px;
    height: 350px;
    object-fit: cover;
    clip-path: path("M 106.8 0 C 144.5 0 174.7 30.6 174.7 68.35 C 174.7 30.6 205.2 0 243.6 0 L 350 0 L 350 106.8 C 350 144.5 318.6 174.7 282.9 174.7 C 318.6 174.7 350 205.2 350 243.6 L 350 350 L 243.6 350 C 205.2 350 174.7 318.6 174.7 282.9 C 174.7 318.6 144.5 350 106.8 350 L 0 350 L 0 243.6 C 0 205.2 30.6 174.7 68.35 174.7 C 30.6 174.7 0 144.5 0 106.8 L 0 0 Z");
}

.billets {
    background-color: #fed681;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    max-width: fit-content;

}

.billet {
    background-color: #2f78bd;
    color: #fff;
    padding: 25px 15px;
    border-radius: 15px;
    max-width: 1200px;
}

.billet a {
    text-decoration: none;
    font-weight: 600;
    color: #1a0d00;
    background-color: #dd492e;
    border-radius: 30px;
    padding: 5px 35px;
    transition: all 0.3s ease-in;
}

.billet a:hover {
    text-decoration: underline;
}

.billet>* {
    margin-bottom: 20px;
}

h3 {
    font-family: 'Instrument Serif', serif;
    font-size: 1.8rem;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

.logo {
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    margin-top: 50px;
}

@media screen and (width < 1200px) {
    h1 {
        font-size: 12rem;
    }

    .hero a {
        margin: 20px;
        font-size: 1.2rem;
    }

    #img1 {
        max-width: 256px;
        max-height: 256px;
        object-fit: cover;
        clip-path: path("M 28 0 C 83.228 0 128 44.772 128 100 C 128 44.772 172.772 0 228 0 L 256 0 L 256 156 C 256 211.228 211.228 256 156 256 L 100 256 C 44.772 256 0 211.228 0 156 L 0 0 Z");
    }

    #img3 {
        width: 256px;
        height: 256px;
        object-fit: cover;
        clip-path: path("M 78 0 C 105.614 0 128 22.386 128 50 C 128 22.386 150.386 0 178 0 L 256 0 L 256 78 C 256 105.614 233.614 128 206 128 C 233.614 128 256 150.386 256 178 L 256 256 L 178 256 C 150.386 256 128 233.614 128 206 C 128 233.614 105.614 256 78 256 L 0 256 L 0 178 C 0 150.386 22.386 128 50 128 C 22.386 128 0 105.614 0 78 L 0 0 Z");
    }

    #img2 {
        width: 256px;
        height: 256px;
        object-fit: cover;
        clip-path: path("M 128 0 C 147.68 0 164.04 14.213 167.377 32.934 C 182.974 22.055 204.594 23.574 218.51 37.49 C 232.426 51.406 233.944 73.025 223.066 88.622 C 241.787 91.96 256 108.32 256 128 C 256 147.68 241.787 164.04 223.065 167.377 C 233.944 182.974 232.426 204.594 218.51 218.51 C 204.594 232.426 182.974 233.944 167.377 223.065 C 164.04 241.787 147.68 256 128 256 C 108.32 256 91.959 241.787 88.622 223.065 C 73.025 233.944 51.406 232.426 37.49 218.51 C 23.574 204.594 22.055 182.974 32.934 167.377 C 14.213 164.04 0 147.68 0 128 C 0 108.32 14.213 91.96 32.934 88.622 C 22.056 73.025 23.574 51.406 37.49 37.49 C 51.406 23.574 73.025 22.055 88.622 32.934 C 91.96 14.213 108.32 0 128 0 Z");
    }
}

@media screen and (max-width: 800px) {
    #img3 {
        display: none;
    }
}

@media (max-width: 768px) {

    .logo,
    #menu-btn {
        position: relative;
        z-index: 11;
    }

    #menu-btn {
        display: block;
        cursor: pointer;
    }

    .link {
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        height: 0;
        background-color: #023a3b;
        transition: all 1s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        gap: 50px;
    }

    .link.active {
        top: 0;
        height: 100vh;
    }

    .link li:first-child {
        margin-top: auto;
    }

    .link li:last-child {
        margin-bottom: auto;
    }

    .link a {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.5s ease;
    }

    .link.active a {
        opacity: 1;
        transform: translateY(0);
    }

    .link a:active {
        color: #d6523b;
        background: none;
    }

    .accent,
    .accent:hover {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }

    h1 {
        font-size: 5.4rem;
    }

    h2 {
        font-size: 3.5rem;
        text-align: center;
    }

    .hero h2 {
        font-size: 2.5rem;
        text-align: start;
    }

    .hero p {
        grid-column: 1/3;
    }

    #img2 {
        display: none;
    }

    #img3 {
        display: none;
    }

    .billets {
        padding: 10px;
    }
}